// Общие стили кнопки
.button {
  display: block;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  border: none;
  border-radius: 4px;
  background-color: $akcent;
  color: $white-text;
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

// Кнопки хедера
.header__button {
  margin: 0;
  padding: 0;
  background-color: initial;
  border: none;
  z-index: 20;
  .button__cross {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__button--is-open {
  .button__burger {
    display: none;
  }
  .button__cross {
    display: block;
  }
}

// Кнопка блока "Герой"
.hero__button {
  padding: 10px 32px;
}

// Кнопка футер
.footer__button {
  margin-left: 12px;
  display: inline-block;
  padding: 10px 28px;
  .button__text {
    display: flex;
    align-items: center;
    &::after {
      content: '';
      width: 24px;
      height: 24px;
      background-image: url(../images/icon-send.svg);
      background-position: center;
      background-size: contain;
      margin-left: 10px;
    }
  }
}

// Кнопки страници "портфолио"
.filter__button {
  padding: 6px 22px;

  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $akcent;
    color: $white-text;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// Кнопки модального окна
.modal__close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: initial;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover,
  &:focus {
    fill: $akcent;
  }
  .close-button__icon {
    position: absolute;
    @include centering-xy();
    fill: var(--black-text-colore);
    width: 11px;
    height: 11px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.agreement__button {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 55px;
}
